<div class="container">
  <div class="row mt-4 mb-4">
    <h3 class="col">ショッピングカート</h3>
    <div class="col-4 text-center pt-3">
      <%= link_to destroy_all_path, method: :delete do %>
        <button class="btn btn-danger">カートを空にする</button>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <table class="table table-bordered border-dark col-lg-12">
      <thead>
        <tr>
          <th class="col-md-5">商品名</th>
          <th class="col-md-2">単価（税込）</th>
          <th class="col-md-2">数量</th>
          <th class="col-md-1">小計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_item.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.image,size: "50x50" %><%= cart_item.item.name %>
          </td>
          <td>
            ￥<%= cart_item.item.price %>
          </td>
          <td>
            <%= form_for(cart_item, url:cart_item_path(cart_item)) do |c| %>
              <p>
                <%= c.number_field :amount, min:1, max:100, step:1 %>
                <%= c.submit "変更", class: "btn btn-success" %>
              </p>
            <% end %>
          </td>
          <td>
            <%= cart_item.subtotal %>
          </td>
          <td>
            <%= link_to cart_item_path(cart_item), method: :delete do %>
              <button class="tbn tbn-danger">削除する</button>
            <% end %>
          </td>
          <% @total_price += cart_item.subtotal %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-lg-3 offset-md-2">
      <%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %>
    </div>
    <div class="col-lg-3 offset-md-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>会計金額</td>
            <td>￥<%= ptotal_price %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>